<h3>Hi <strong><%= @user.first_name %></strong>,</h3>

<p>Thanks for joining the movement by signing up to <strong>Project UpHold</strong>! Together, we strive to create safer communities by combating police brutality.</p>

<p>Best,</p>

<p>Team Project UpHold</p>

<%= link_to "Back to Project UpHold", root_url %>
