// Specific CSS for your home-page

body{

  color: rgb(20, 20, 20);
  font-family:  $headers-font;
}

h1{;
  font-family:  $headers-font;
  color: gray;
  font-weight: lighter;
  font-size: 50px;
}
h2 {
  font-family:  $headers-font;
  color: black;
  font-weight: lighter;
  font-size: 20px;
}

p {
  font-family:  $body-font;

}
