.container.show{
  padding: 1%;
  .img{
    text-align: center;
  }
  .details{
    border-left: 2px solid $navbar;
  }
  .details p{
    font-size: 15px;
    font-weight: bold;
  }

}

#pro-head {
  display: block;
  border-bottom: 2px solid $navbar;
  padding: 8px;
  width: 30%;
  position: relative;
  bottom: -6px;
  margin-bottom: 25px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 32px;
  font-size: 48px;
}

.report-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .btn-success {
    padding: 3px 10px;
    p {
      margin-bottom: 0;
    }
  }
  .btn-success:hover {
    color: #212529;
    background-color: #1EDD88;
    border-color: #1EDD88;
    }
  .btn-danger {
    padding: 3px 10px;
    p {
      margin-bottom: 0;
    }
  }
  .btn-danger:hover {
    color: #fff;
    background-color: #FD1015;
    border-color: #FD1015;
    }
  .btn-secondary {
    padding: 3px 10px;
    p {
      margin-bottom: 0;
    }
  }
  .btn-secondary:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
  }
}

.fa-bookmark {
  color: #343a40;
}

.fa-caret-up {
  color: #343a40;
}

.fa-caret-down {
  color: #343a40;
}

.product-upvote {
  p {
    margin-bottom: 0 !important;
  }
}
