<h3>Hi <strong><%= @user.first_name %></strong>,</h3>

<p>You requested some mental health and/or legal resources in your community. Here is what we found:</p>



<p>For a more general list of resources, head back to the <%= link_to "Resources", resources_url %> page on our site. We wish you the very best.</p>


<p>~Team Project UpHold</p>

<%= link_to "Back to Project UpHold", root_url %>
