<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://phsmojomessenger.com/wp-content/uploads/2018/11/police-light.jpg);">
  <div class="container">
    <h1>UpHold <strong>text</strong> to <strong>more text</strong>!</h1>
    <p>Uphold</p>
    <a class="btn btn-flat" href="#">Sign up</a> 
  </div>
</div>
