<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1453873531674-2151bcd01707?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2450&q=80);">
  <div class="container">
    <div class="banner-content">
    <h1>Policing <strong>the </strong> Police</h1>
    <p>Creating accountability and building integrity your community.</p>
    <%= link_to "Sign up", new_user_registration_path, class:"btn btn-flat" %>
    </div>

  </div>
</div>


