<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.610kona.com/wp-content/uploads/2020/04/iStock_Police_Sirens_04082020-3ipe7J.jpeg);">
  <div class="container">
    <h1>UpHold <strong>text</strong> to <strong>more text</strong>!</h1>
    <p>Uphold</p>
    <a class="btn btn-danger" href="#">Sign up</a>
  </div>
</div>
