<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://phsmojomessenger.com/wp-content/uploads/2018/11/police-light.jpg);">
  <div class="container">
    <h1>Policing <strong>the </strong> Police</h1>
    <p>Creating accountability and building integrity your community.</p>
    <%= link_to "Sign up", new_user_registration_path, class:"btn btn-flat" %>

  </div>
</div>


