<div class="cards-container-frontpage container">
  <div class="row">
 <% @cities.each do |city| %>
  <%= link_to city_path(city) do %>
    <div class="col-md-4 mb-3">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.timeout.com/images/105239116/image.jpg)"
      data-text="UpHold Reports: 123
      Citizen Complaints: 456
      New Laws Passed: 24
      Laws Proposed: 3">
      <span class="city-card-title"><%= city.name %></span>
      <div class="card-description">
        <p><i class="fa fa-flag" aria-hidden="true"></i> <%= city.reports.length %> reports today</p>
      </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
