
<div class="cards-container-frontpage container">
  <div class="row">
   <% 5.times do %>
<div class="col-md-4 mb-3">
  <div class="card frontpage-card">
    <div class="card-img-block">
      <div class="relative">
      <img class="card-img-top" src="https://media.timeout.com/images/105239116/image.jpg" >
      <h1 class="absolute-text"><strong>Atlanta</strong></h1>
      </div>
      <h5 class="card-title">Latest Reports</h5>
      <p class="card-title">Total reports: 2323043</p>
    </div>
    <h5 class="card-title">Lastest Reports</h5>
    <div class="card-body pt-0">
      <p class="card-text">A arcu cursus vitae congue. Sapien et ligula ullamcorper malesuada proin libero. Id faucibus nisl tincidunt eget nullam non nisi est. Pulvinar mattis nunc sed blandit libero volutpat sed. Morbi quis commodo odio aenean sed adipiscing diam. Tincidunt lobortis feugiat vivamus at augue eget arcu. Elit pellentesque habitant morbi tristique...</p>
    </div>
    <div class="icon-block text-center"><a href="#"><i class="fa fa-chevron-left"></i></a><a href="#"> <i class="fa fa-chevron-right"></i></a></div>
  </div>
</div>
<% end %>
</div>
</div>


