<div class="cards-container-frontpage container">
  <div class="row">
    <% 5.times do %>
    <div class="col-md-4 mb-3">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.timeout.com/images/105239116/image.jpg)"
      data-text="City statsss, City statsss, City statsss, City statsss">
      Atlanta
    </div>
    </div>
    <% end %>
  </div>
</div>
