<div class="col-md-4 mt-4">
  <div class="card frontpage-card">
    <div class="card-img-block">
      <img class="card-img-top" src="https://media.timeout.com/images/105239116/image.jpg">
      <h5 class="card-title">Atlanta</h5>
    </div>
    <div class="card-body pt-0">

      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

    </div>
    <div class="icon-block text-center"><a href="#"><i class="fas fa-star"></i></a><a href="#"> <i class="fas fa-star"></i></a><a href="#"> <i class="fas fa-star"></i></a></div>
  </div>
</div>
</div>