<!-- footer -->
<div class="site-footer" data-controller="footer"
data-controller="footer" >
<%= render 'shared/toggler' %>

<div class="container" data-target="footer.hide">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h6>About</h6>
      <p class="text-justify">UpHold seeks to make communities more safe by holding those who police it accountable. Help us help you, by rating your encounters today.</p>
    </div>
    <div class="col-xs-6 col-md-3">
      <h6>Resources</h6>
      <ul class="footer-links">
        <li><a href="https://www.grassrootslaw.org/" target=”_blank”>Grassroots Law</a></li>
         <li><a href="https://blacklivesmatter.com/" target=”_blank”>BLM Official</a></li>
         <li><a href="https://www.aclu.org/" target=”_blank”>ACLU</a></li>
         <li><a href="https://www.aclu.org/know-your-rights/" target=”_blank”>Know Your Rights</a></li>
         <li><a href="https://www.knowyourrightscamp.com/legal" target=”_blank”>Legal Assistance</a></li>


      </ul>
    </div>
    <div style="text-align: right;" class="col-xs-6 col-md-3">
      <h6>Quick Links</h6>
      <ul class="footer-links">
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Donate</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Get Involved</a></li>
      </ul>
    </div>
  </div>
  <hr>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-sm-6 col-xs-12">
      <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
       <a href="#">Project UpHold</a>.
     </p>
   </div>
   <div class="col-md-4 col-sm-6 col-xs-12">
    <ul class="social-icons">
      <li><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
      <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
      <li><a class="dribbble" href="#"><i class="fab fa-instagram"></i></a></li>
      <li><a class="linkedin" href="#"><i class="fab fa-youtube"></i></a></li>
    </ul>
  </div>
</div>
</div>
</div>
