<!-- footer -->
    <div class="site-footer" data-controller="footer" data-action="click->footer#hide">
      <div class="container" data-target="footer.hide" >

        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">UpHold<i> CODE WANTS TO BE SIMPLE </i> Once upon a time in a galaxy far far away. There lived a three little pigs.</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Resources</h6>
            <ul class="footer-links">
              <li><a href="http://www.rubyguides.com">Ruby</a></li>
              <li><a href="http://www.rubyguides.com">Ruby</a></li>
              <li><a href="http://www.rubyguides.com">Ruby</a></li>
              <li><a href="http://www.rubyguides.com">Ruby</a></li>
              <li><a href="http://www.rubyguides.com">Ruby</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Know Your Rights</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Get Involved</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
         <a href="#">Project UpHold</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fab fa-instagram"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fab fa-youtube"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
</div>