<div class="card-report">
  <div class="card-report-infos">
    <small><%= report.content %></small>
    <p><%= report.address %></p>
    <p><%= report.officer.first_name %></p>
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  </div>
  <div class="card-report-tags">
    <%= @tags %>
    <h2 class="card-report-name">Anonymous</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>
