<div class="report-tips">
  <h3>Do</h3>
  <%= cl_image_tag("https://image.flaticon.com/icons/svg/3090/3090235.svg", width: 50, height: 50, crop: :fill) %>
  <p>Tell us the backstory! It’s important to share as much as you're comfortable with about what happened during the encounter so that readers get an accurate picture. The more information, the better! </p>
  <button type="button" class="btn btn-info" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Sharing your story is crucial. Showing an accuracte picture of what happened is also important. You can do that by including in your report the events leading up to your encounter with the officer, and the events that followed the encounter. (ie. I was pulled over for speeding, or I was walking my dog in my neighborhood.)">
    Learn More
  </button>
</div>
<div class="report-tips">
  <h3>Don't</h3>
  <%= cl_image_tag("https://image.flaticon.com/icons/svg/2667/2667356.svg", width: 50, height: 50, crop: :fill) %>
  <p>Make any false claims. This is illegal, and you can be sued for defamation. You will also be banned from the site.</p>
  <button type="button" class="btn btn-info" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Making false claims on an officer, with the intention of damaging their reputation, is considered defamation. Although we take as much caution in protecting your identity, it would be in your best interest to be completely honest in your reports. Get more information on defamation here.">
    Learn More
  </button>
</div>
<div class="report-tips">
  <h3>Don't</h3>
  <%= cl_image_tag("https://image.flaticon.com/icons/svg/2667/2667356.svg", width: 50, height: 50, crop: :fill) %>
  <p>Use profanity, name calling, or derogatory terms. Hate speech will not be tolerated, and your account may be suspended.</p>
  <button type="button" class="btn btn-info" data-container="body" data-toggle="popover" data-placement="bottom" data-content="When you agreed to our terms and conditions, you agreed to refrain from using profanity, name calling, and derogatory speech. Although we are fighting a damaged system which can be frustrating at times, your reports must not include any hate speech, or your account will be suspended.">
    Learn More
  </button>
</div>
