
<div class="search-bar-front-page">
  <div class="container">
   <form class="form-inline ">
   <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
    aria-label="Search">
    <i class="fas fa-search" aria-hidden="true"></i>
    </form>
  </div>
</div>