<div class="search-bar-front-page">
  <div class="container">
    <%= form_tag cities_path, class: "d-flex", method: :get do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control",
      placeholder: "Find a City"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
</div>
</div>
