<div class="toggler" data-action="click->footer#hide">
    <div class="toggle-off">
      <i class="fas fa-toggle-off"></i>
      </div>
      <!-- <div class="toggle-on">
      <i class="fas fa-toggle-on"></i>
      </div>
 -->
  </div>