
<div class="dashboard-container">
  <div class="container">
    <h2>Dashboard</h2>
    <div class="row">

      <div class="col-12 col-md-6 col-lg-4" >
        <div class="card bg-light">
          <p>Profile</p>
          <td><%= current_user.first_name %></td>
          <td><%= current_user.last_name %></td>
          <br>
          <td><%= current_user.email %></td>

        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-8">

        <div class="card bg-light">

          <p>Your Submissions</p>
          <% @reports.first(10).each do |report| %>
            <div class="reports-container">
            <%= render partial: "shared/report_card", locals: { report: report } %>
            </div>
          <% end %>
          </div>
      </div>
    </div>
  </div>
</div>