.card-category {
  background-size: cover;
  background-position: center;
  position: relative;
  height: 230px;
  width: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: 0.9s;
  float: left;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-category:hover {
  background-size: 105%;
}

.card-category:hover .city-card-title {
  opacity: 0;
}

.city-card-title {
  transition: 0.5s;
}

.card-category:after {
  text-align: center;
  font-size: 14px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 50px;
  word-wrap: break-word;
  overflow: hidden;
  background-color:rgba(0,0,0,0.6);
  color: #fff;
  opacity: 0;
  content:attr(data-text);
}
.card-category:hover:after {
  opacity: 1;
}

.card-description {
  font-size: 12px;
  position: absolute;
  bottom: -1px;
  left: 10px;
}

.cards-container-frontpage{
  margin-bottom: 50px;
}

