.columbus-picture {
     background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/EOAy-v9Njbs/1600x800') !important;
     background-size: cover;
     background-position: center;

}

.nashville-picture {
     background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/WbbVwVPD2ZM/1600x800') !important;
     background-size: cover;
     background-position: center;

}

.boston-picture {
     background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/sxnuzW9ZWu0/1600x800') !important;
     background-size: cover;
     background-position: center;

}

.denver-picture {
     background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/chaqHXlOzYs/1600x800') !important;
     background-size: cover;
     background-position: center;

}

.san-francisco-picture {
     background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/Ji_G7Bu1MoM/1600x800') !important;
     background-size: cover;
     background-position: center;

}

.seattle-picture {
     background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/skUTVJi8-jc/1600x800') !important;
     background-size: cover;
     background-position: center;

}

.philadelphia-picture {
     background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/ZB5Xgw_MLa0/1600x800') !important;
     background-size: cover;
     background-position: center;

}

.orlando-picture {
     background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/Ju2sBBsiKSs/1600x800') !important;
     background-size: cover;
     background-position: center;

}

.minneapolis-picture {
     background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/hXwP1UypUEI/1600x800') !important;
     background-size: cover;
     background-position: center;

}

.san-diego-picture {
     background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/f5jyMrOS3yo/1600x800') !important;
     background-size: cover;
     background-position: center;

}

.san-antonio-picture {
     background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/djcJCdYMPXI/1600x800') !important;
     background-size: cover;
     background-position: center;

}

.phoenix-picture {
     background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/ySS22OnI2n4/1600x800') !important;
     background-size: cover;
     background-position: center;

}

.chicago-picture {
     background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/uevmkfCH98Q/1600x800') !important;
     background-size: cover;
     background-position: center;

}

.houston-picture {
     background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/xyPxcqh8Tt8/1600x800') !important;
     background-size: cover;
     background-position: center;

}

.los-angeles-picture {
     background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/9TUkYXQKXec/1600x800') !important;
     background-size: cover;
     background-position: center;

}

.new-york-picture {
     background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/YihQdPSK9jI/1600x800') !important;
     background-size: cover;
     background-position: center;
}










