.city-banner {
    height: 200px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#city-title {
    text-align: center;
    h1 {
        color: white;
        text-shadow: 2px 2px #000;
    }
    .new-report-button {
        color: white;
        border: 1px solid white;

        &:hover {
            background-color: white;
            color: black;
        }
    }
}

.columbus-banner {
     background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/EOAy-v9Njbs/1600x800') !important;
     background-size: cover;
     background-position: center;

}

.nashville-banner {
     background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/WbbVwVPD2ZM/1600x800') !important;
     background-size: cover;
     background-position: center;

}

.boston-banner {
     background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/sxnuzW9ZWu0/1600x800') !important;
     background-size: cover;
     background-position: center;

}

.denver-banner {
     background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/chaqHXlOzYs/1600x800') !important;
     background-size: cover;
     background-position: center;

}

.san-francisco-banner {
     background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/Ji_G7Bu1MoM/1600x800') !important;
     background-size: cover;
     background-position: center;

}

.seattle-banner {
     background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/skUTVJi8-jc/1600x800') !important;
     background-size: cover;
     background-position: center;

}

.philadelphia-banner {
     background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/ZB5Xgw_MLa0/1600x800') !important;
     background-size: cover;
     background-position: center;

}

.orlando-banner {
     background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/Ju2sBBsiKSs/1600x800') !important;
     background-size: cover;
     background-position: center;

}

.minneapolis-banner {
     background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/hXwP1UypUEI/1600x800') !important;
     background-size: cover;
     background-position: center;

}

.san-diego-banner {
     background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/f5jyMrOS3yo/1600x800') !important;
     background-size: cover;
     background-position: center;

}

.san-antonio-banner {
     background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/djcJCdYMPXI/1600x800') !important;
     background-size: cover;
     background-position: center;

}

.phoenix-banner {
     background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/ySS22OnI2n4/1600x800') !important;
     background-size: cover;
     background-position: center;

}

.chicago-banner {
     background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/uevmkfCH98Q/1600x800') !important;
     background-size: cover;
     background-position: center;

}

.houston-banner {
     background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/xyPxcqh8Tt8/1600x800') !important;
     background-size: cover;
     background-position: center;

}

.los-angeles-banner {
     background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/9TUkYXQKXec/1600x800') !important;
     background-size: cover;
     background-position: center;

}

.new-york-city-banner {
     background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/YihQdPSK9jI/1600x800') !important;
     background-size: cover;
     background-position: center;
}




















