.columbus-picture {
     background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/EOAy-v9Njbs/1600x800') !important;
     background-size: cover;
     background-position: center;

}

.philadelphia-picture {
     background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/ZB5Xgw_MLa0/1600x800') !important;
     background-size: cover;
     background-position: center;

}
