.emoji {
  margin: 0px 10px;
  font-size: 30px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  &:hover{
    background-color: rgba(255,185,52,0.5);
    cursor: pointer;
  }
  &.selected-emoji {
    background-color: #FFB934;
    color: black;
    opacity: 1;
  }
}
