div.form-report {
  background-color: white;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  h2 {
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
    color: #666666;
    margin-bottom: 50px;
    margin-top: 0px;
  }
  .btn {
    width: 100%;
    padding: 10px;
    font-weight: bold;
  }
}

.tag-choices {
  display: block;
  float: left;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
}

.tag-choice {
  background: #b7b7b7;
  padding: 5px;
  border-radius: 5px;
  opacity: .4;
  flex: 0 0 30%;
  text-align: center;
  font-size: 14px;
  &:hover {
    background-color: rgba(255,185,52,0.9);
    cursor: pointer;
    color: #2d2d2d;
  }
  &.active {
    background-color: #FFB934;
    color: black;
    opacity: 1;
  }
}

div.officers {
  display: flex;
}

#officer-label {
  margin-top: 25px;
}

div.location-input{
  display: flex;
}

div.new-report-container {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)), url("https://images.unsplash.com/photo-1557081998-05f784dcdd41?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: auto;
}

label {
  font-size: 20px;
}

.select2-selection.select2-selection--single{
  margin-bottom: 20px;
}


$primary: #ffb934;
$secondary: #fc912d;
$white: #fff;
$gray: #9b9b9b;
.form__group {
  position: relative;
  padding: 15px 0 0;
  // margin-top: 10px;
  margin-bottom: 30px;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight:700;
  }
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary,$secondary);
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}

.form-report {
  .select2-container--default .select2-selection--single {
    border: 0;
    border-bottom: 2px solid $gray;
    border-radius: 0px;
  }
  #report_address{
   border: 0;
    border-bottom: 2px solid $gray;
  }
  #report_city_id{
     border: 0;
    border-bottom: 2px solid $gray;
  }
}

#new_report {
  label {
    color: #9b9b9b;
  }
  label.tag-choice {
    color: #44433b;
  }
}

#select2-selectofficer-container {
  color: $gray;
}

#report_city_id {
  color: $gray;
  border-radius: 0;
}

legend.col-form-label{
  color: $gray;
  font-size: 20px;
}

.select2-selection--single {
  border-radius: 0px;
}
