.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  padding-top: 0px;
  transition: 0.5s background-color ease;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  color: white;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: white;
  opacity: 0.9;
}

.navbar-brand:hover {
  opacity: 0.9;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: white;

}