.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.d-flex.search-bar {
  width: 65%;

}
.search-form {
  width: 50%;
}

.index-search {
  margin: 20px;
}
