  nav.share {
  display:inline-block;
  padding: 20px 4px;
  } /* shareable's nav tag */
nav.share div {
  float:left;
}

nav.share iframe {
  border:0; margin-top:0; padding-top:0;
  } /* if using medium sized buttons */
#___plusone_0 {
  font-size: default !important;
}

.fb_iframe_widget span {
  vertical-align: top;
}

.fb_edge_widget_with_comment {
  vertical-align: top;
}
// .fb-like{display:inline-block}
* html .fb-like {
  display:inline
  }/* ie6 inline block fix*/

*+html .fb-like {
  display:inline }/* ie7 inline block fix*/

div.fb-like.fb_iframe_widget{
  line-height: 0;
}

div.fb-like.fb_iframe_widget {
  padding-right: 4px;
}
