.toggler {
  display: flex;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;

}

.toggler-icon {
  justify-conetent: space-around;
  padding: 5px;
  font-size: 30px;
  margin: 5px;
}
.toggler-icon:hover {
  opacity: 0.6;
}