.toggler {
  display: flex;
  height: 40px;
  width: 40px;
  border-radius: 50%;

  padding: 30px;

}

.toggler-icon {
  justify-conetent: space-around;
  padding: 5px;
  font-size: 30px;
  margin: 5px;

}
.toggler-icon:hover {
  opacity: 0.6;
}

.toggle-off{
  font-size: 30px;
}
.toggle-off:hover {
  opacity: 0.3;

}
