<% if policy(ReportVote.new(report: report)).create? %>
  <%= link_to report_report_votes_path(report), method: :post, remote: :true do %>
    <i class="fa fa-caret-up"></i>
    <% end %>
<% end %>
    <p><%= report.report_votes.count %></p>
<% if ReportVote.where(user: current_user, report: report).present? && policy(ReportVote.where(user: current_user, report: report).first).destroy? %>
  <%= link_to report_vote_path(ReportVote.where(user: current_user, report: report).first.id), method: :delete, remote: :true do %>
    <i class="fa fa-caret-down"></i>
    <% end %>
<% end %>
